* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 1;
    padding-top: 20px;
}
.navbar-brand{
    font-size: 36px;
    color: white;
}
.navbar-brand i{
    font-size: 40px;
    color: #35a22c;
    margin-right: 10px;
}   
/*start carousel*/
#portfolio__carousel .carousel-caption{
    bottom: 50%;
    transform: translateY(50%); /*canh giữa theo chính nó*/
}
#portfolio__carousel .carousel-caption img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
#portfolio__carousel .carousel-indicators{
    bottom: 30px;
}
#portfolio__carousel .carousel-indicators li{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
#portfolio__carousel .carousel-item{
    position: relative;
    height: 100vh;
}
#portfolio__carousel .carousel-item::after{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    content: "";
    background: rgb(0,0,0,0.5); /*Lớp màu bg tối*/
}
#portfolio__carousel .carousel-indicators .active{
    background-color: #35a22c;
}
.carousel-caption h5{
    font-size: 5vw;
}
.carousel-caption p{
    font-size: 3vw;
    font-size: 24px;
}
header .nav-item .nav-link{
    color: white;
    margin: 0px 20px ;
    position: relative;
}
header .nav-item .nav-link::after{
    display: block;
    content: "";
    position: absolute;
    width: 0;
    left: 0%;
    bottom: 0%;
    background: #35a22c;
    height: 3px;
}
header .nav-link:hover{
    color: #35a22c;
    transition: 0.3s;
}
header .nav-link:hover::after{
    width: 100%;
    left: 0;
    transition: 0.3s;
}
header .nav-item.active .nav-link::after{
    width: 100%;
    height: 3px;
}
header .nav-item.active .nav-link{
    color: #35a22c;
}
/*end carousel*/
/*start project*/
#portfolio__project .heading{
    max-width: 750px;
}
#portfolio__project .nav{
    justify-content: center;
}
#portfolio__project .card{
    border-radius: 16px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#portfolio__project .nav-pills .nav-link.active{
    background-color: #35a22c;
    color: white;
    border-color:#35a22c ;
}
#portfolio__project .nav-pills .nav-link{
    color: #1a1d2d;
    border: 1px solid #1a1d2d;
    margin: 0 5px;

}
#portfolio__project .card-body{
    border: 1px solid transparent;
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    transition: 0.3s;
}
#portfolio__project .card:hover .card-body{
    border-color: #35a22c;
}
.card-body p{
    color: #585858;
}
#portfolio__project .card:hover .card-body h5{
    color: #35a22c;
}
/*end project*/
/* start experience */
#portfolio__experience{
    background-image: url(./image/3.jpg);
    background-attachment: fixed;
    padding: 100px 0 120px;
    background-size: cover;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0;
    background: rgba(7,10,12,.72);
}
#portfolio__experience .heading{
    width: 750px;
    position: relative;
}
.ex__item{
    padding: 40px 40px;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    background: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.1)
}
.ex__item i{
    color: #35a22c;
    font-size: 40px;
    left: 0;
    margin-bottom: 25px;
}
.ex__item h4{
    color: white;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}
.ex__item p{
    color: white;
}
.ex__item:hover{
    background: black;
    border: 1px solid white;
    transition: 0.3s;
}
/* end experience */
/* start awr */
#portfolio__awar{
  padding: 70px;
  position: relative;
}
.awar__bg{
    background-image: url(./image/memphis_3.png);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% auto;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awar__left{
    background: rgba(255,255,255,.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.18);
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    padding: 45px;
} 
.awar__left h2{
    font-size: 35px;
    color: #1a1d2d;
    font-weight: 900;
    margin-bottom: 10px;
}
.awar__left p{
    color: gray;
    margin: 10px 0px;
}
.awar__right{
    padding: 45px 0;
}  
.hinh{
    max-width: 100%;
    height: auto;
}
/* end awr */
footer{
    background-color:black ;
}
.footer__icon i{
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    border: 1px solid #454545;
    color: #aaa;
    transition: all .5s;
}
.footer__icon i:hover{
    color: #35a22c;
}
.footer__content{
    color: #aaa;
    padding-top: 30px;
    margin-top: 30px;
    border-top: 1px solid #454545 ;
}
.footer__content a{ 
    color: #aaa;
    text-decoration: none;
}
.footer__content a:hover{
    color: #35a22c;
}