* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.header__container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /*default: trục chính nằm ngang*/
    /*flex-diraction : thay đổi trục chính*/    
}
.header__logo{
    color: white;
}
header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 10;
    display: flex;
    width: 100%;
    padding: 40px 0px;
   
}
header nav a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 15px;
    text-decoration: none;
}
header nav a:hover{
    color: #e62b4a;
}
header .header__container a {
    text-decoration: none;
}
.header__logo i,span{
    font-weight: 700;
    font-size: 27px;
}
header .header__container .header__logo{
}

/*start banner*/
.banner{
    background-image: url(./image-video/home_slider.jpg);
    background-repeat: no-repeat;/*không nhân bản*/
    background-size: cover;/*lấp vừa cha*/
    background-position: center;/*vào giữa*/
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    
}
.banner__container{
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner__container h2{
    font-size: 60px;
    margin: 30px 0px;
    font-weight: bolder;
}
.banner__container p{
    font-size: 30px;
}
.banner__container button{
    background-color: #e62b4a;
    font-size: 20px;
    text-transform:uppercase;
    color: white;
    border: 1px solid #e62b4a;
    padding: 15px 20px;
   cursor: pointer;/*đổi chuột*/
   transition: 0,4s;/*thời gian thay đổi hover*/
}
.banner__container button:hover{
    background-color: #a12036;
}
.banner__container i{
    animation-name: animate ;
    animation-duration: 1s;
    animation-iteration-count: infinite;/*vòng lặp*/
}
@keyframes animate {
    from{ 
        transform: translateY(0px);
        opacity: 1;
    }
    to{
        transform: translateY(50px);
        opacity: 0;
    }
}
.banner__container i{
    margin-top: 20px;
    font-size: 30px;}

/*end banner*/
/*start carousel*/
.carousel{
    padding: 80px 0px;
    background-color: black;
    display: flex;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: red;
}
.slick-dots li button:before{
    font-size: 10px;
    opacity: .25;
    color: white;
}
.slick-dots li.slick-active button:before{
    opacity: .75;
    color: red;
}
.carousel__title {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 20px 50px;
}
.carousel__title h2{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;

}
.carousel__title p{
    font-size: 15px;
    color: red;
    font-weight: 300;

}
.carousel__title span {
    color: #888888;
    font-weight: 700;
    margin-top: 20px;

}
.carousel__list{
}
.carousel__item {
    color: white;
    padding: 15px;
}
.item__content p{
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    font-size: 20px;
}
.item__content i{
    font-size: 50px;
}
.item__content{ /* class trung gian*/
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 280px;
    color: #888888;
    font-size: 20px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    position: relative;
}
.item__content::after{
    position: absolute;
    display: block; /*CÓ position không cần dùng display*/
    content: "";
    top: 0px;
    right: 0px;
    width: 5px;
    background-color: #e62b4a;
    height: 0px;
    transition: 0.3s; /*hiển thị sau..*/
}
.item__content:hover::after{
    height: 100%;
}
/*end carousel*/
/* start blogs*/
.blogs{
    padding: 80px 0px;
}
.blogs_container{
    width: 100%;
    background-color: white;
    padding: 20px 80px;
   
}
.blogs__title{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.blogs__title p{
    font-weight:500;
    color: #888888;

}
.blogs__title h2{
    font-size: 40px;
    font-weight: 500;
    padding: 20px 0px;
}
.blogs__title span{
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
    font-size: 16px;
}
.blogs__khung{
    display: grid;
    grid-template-columns: repeat(4,1fr);/*chia cột*/
    grid-template-rows: repeat(4,1fr);/*chia hàng*/
    width: 100%;
    aspect-ratio: 1/1;
    gap: 30px;
    margin: 50px;
    
}
.blogs__khungcon{
    overflow: hidden;
    position: relative;

}
.blogs__khungcon img{
    width: 100%;
    height: 100%;
    filter: grayscale(50%) contrast(50%);
    object-fit: cover;
    transition: all .5s;
    z-index: 0;
}
.blogs__khungcon.khung-1{
    grid-column: 1/3;
    grid-row: 1/3;
    
}
.blogs__khungcon.khung-8{
    grid-column:3/5 ;
    grid-row: 3/5;
    
}
.blogs__overlay{
    background-color: rgba(230, 43, 74, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    color: white;
    z-index: 1;    
    top: 0;
    left: 0;
}

.overlay__search{
    position: absolute;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;

}
.overlay__title{
    position: absolute;
    bottom: 10px;
    left: 10px;
  
}
.blogs__overlay-hover{
    transition: 1s;
    transform: translateY(50px);
}
.blogs__khungcon:hover .blogs__overlay-hover {
    transform: translateY(0px);
}
.blogs__khungcon:hover .blogs__overlay {
    opacity: 1;
}

/* end blogs*/  
/* start numbers*/
.numbers{
    padding: 80px 0px ;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-size: 25px;
}
.numbers__row{
    display: flex;
    justify-content: space-evenly;/* khoảng cách giữa các item bằng nhau*/
    text-align: center;
    align-items: center;
}
.numbers__item p{
    color: gray;
}

/*end numbers*/
/* start ex*/
.experience{
    padding: 80px 0px;
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-attachment: fixed;
    color: white;
}
.ex__item{
    justify-content: center;
    align-items: center;
    text-align: center;
     width: 100%;
}
.item__title p{
    font-size: 15px;
    color: red;
    font-weight: 300;
}
.item__title h2{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 20px;
}
.item__title span{
    color: #888888;
    font-weight: 700;
    margin-top: 20px;
}
.item__vd video{
    padding: 20px 80px;
    width: 100%;
}
/*end ex*/
/* start contact*/
.contact{
    padding: 80px 0px;
}
.contact__content{
    display: flex;
    height: 500px;
}
.contact .map{
    height: 100%;
    width: 60%;
    flex-shrink: 0; /*của riêng*/
    margin-right: 10px;
}
.contact .form {
    height: 100%;
    flex-grow: 1; /*lấy phần dư*/
}
.contact form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;   /*dàn theo chiều dọc*/
    justify-content: space-between;
}
.contact form *{
    padding: 20px;
}
.contact textarea{
    height: 40%;
}
.contact .form button:hover{
    background-color:#e62b4a ;
}
.contact .form button{
    background-color: black;
    color: white;
    border: none;
}
.contact__title{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px ;
}
.contact__title h2{
    font-weight: 400;
    font-size: 50px;
    padding: 20px 0px;
}
.contact__title p{
    color: gray;
    font-size: 15px;

}
/* end contact*/
footer{
    background-color: black;
    padding: 50px;
    width: 100%;
}
.ft__all{
    display: flex;
    padding: 50px 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.ft__tt{
    color: white;
    width: 60%;
    flex-shrink: 0;
}
.ft__icon{
    color: white;
    flex-grow: 1;
    font-size: 30px;
    display: flex;
}
.ft__icon a{
    background-color: rgba(255, 255, 255, 0.2);
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    line-height: 53px;
    color: white;
    text-align: center;
    margin-left: 15px;
}
.ft__icon i{
    align-items: center;
    
}
.nut{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}
.nut i{
    color: white
}
.ft__icon a:hover {
    background-color: #e62b4a;
}
